@model UserViewModel
@{
    ViewData["Title"] = "Kayıt Ol";
}

<!DOCTYPE html>

<html lang="en">

	<!-- begin::Head -->
	<head>
		<base href="../../../">
		<meta charset="utf-8" />
		<meta name="description" content="Login page example">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	

		<!--end::Fonts -->

		<!--begin::Page Custom Styles(used by this page) -->
		<link href="semorder/assets/css/pages/login/login-3.css" rel="stylesheet" type="text/css" />

		<!--end::Page Custom Styles -->

		<!--begin::Global Theme Styles(used by all pages) -->
		<link href="semorder/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="semorder/assets/css/style.bundlee.css" rel="stylesheet" type="text/css" />

		<!--end::Global Theme Styles -->

		<!--begin::Layout Skins(used by all pages) -->
		<link href="semorder/assets/css/skins/header/base/light.css" rel="stylesheet" type="text/css" />
		<link href="semorder/assets/css/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
		<link href="semorder/assets/css/skins/brand/dark.css" rel="stylesheet" type="text/css" />
		<link href="semorder/assets/css/skins/aside/dark.css" rel="stylesheet" type="text/css" />

		<!--end::Layout Skins -->
		<link rel="shortcut icon" href="semorder/assets/media/logos/logo_lemon.jpg" />
	</head>

	<!-- end::Head -->

	<!-- begin::Body -->
	<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

		<!-- begin:: Page -->
		<div class="kt-grid kt-grid--ver kt-grid--root">
			<div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v3 kt-login--signin" id="kt_login">
				<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" style="background-color: white">
					<div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
						<div class="kt-login__container">
							<div class="kt-login__logo">
								<a href="#">
									<img src="semorder/assets/media/logos/logo_lemon.jpg">
								</a>
							</div>						
							<div class="kt-login__signup">
								<div class="kt-login__head">
									<h3 class="kt-login__title">Kayıt Ol</h3>
								</div>
								<form asp-controller="User" asp-action="SignUp" class="kt-form" method="post">
									<div class="input-group">
										<input asp-for="FirstName" class="form-control" type="text" placeholder="Ad" name="firstname">
									</div>
									<div class="input-group">
										<input asp-for="LastName" class="form-control" type="text" placeholder="Soyad" name="lastname">
									</div>
									<div class="input-group">
										<input asp-for="Email" class="form-control" type="text" placeholder="E-posta" name="email" >
									</div>
									<div class="input-group">
										<input asp-for="Password" class="form-control" type="password" placeholder="Parola" name="password">
									</div>
									<div class="input-group">
										<input asp-for="Password" class="form-control" type="password" placeholder="Yeniden Parola" name="rpassword">
									</div>
									<div class="row kt-login__extra">
										<div class="col kt-align-left">
											<label class="kt-checkbox">
												<input type="checkbox" name="agree">Kabul ediyorum <a href="#" class="kt-link kt-login__link kt-font-bold"></a>
												<span></span>
											</label>
											<span class="form-text text-muted"></span>
										</div>
									</div>
									<div class="kt-login__actions">
										<button type="submit" id="kt_login_signup_submit" class="btn btn-color-design btn-brand btn-elevate kt-login__btn-primary">Kayıt Ol</button>&nbsp;&nbsp;
										<button asp-controller="Account" asp-action="Login" asp-area="" class="btn btn-light btn-elevate kt-login__btn-secondary">Geri Dön</button>
									</div>
								</form>
							</div>
							</div>
						</div>
					</div>       
				</div>
			</div>
		</div>

		<!-- end:: Page -->

		<!-- begin::Global Config(global config for global JS sciprts) -->

		<script>
			
			var KTAppOptions = {
				"colors": {
					"state": {
						"brand": "#FFF976",
						"dark": "#282a3c",
						"light": "#ffffff",
						"primary": "#5867dd",
						"success": "#34bfa3",
						"info": "#36a3f7",
						"warning": "#ffb822",
						"danger": "#fd3995"
					},
					"base": {
						"label": [
							"#c5cbe3",
							"#a1a8c3",
							"#3d4465",
							"#3e4466"
						],
						"shape": [
							"#f0f3ff",
							"#d9dffa",
							"#afb4d4",
							"#646c9a"
						]
					}
				}
			};
		</script>

		<!-- end::Global Config -->

		<!--begin::Global Theme Bundle(used by all pages) -->
		<script src="semorder/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
		<script src="semorder/assets/js/scripts.bundle.js" type="text/javascript"></script>

		<!--end::Global Theme Bundle -->

		<!--begin::Page Scripts(used by this page) -->
		<script src="semorder/assets/js/pages/custom/login/login-general.js" type="text/javascript"></script>

		<!--end::Page Scripts -->
	</body>

	<!-- end::Body -->
</html>